div + div {
    margin-bottom: 16px !important;
}

body {
    max-height: 600px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

section {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    background-color: #fff;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8e8e8e;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 4px 16px;
}

nav > a:hover {
    cursor: pointer;
}

#link_home, #link_product, #link_contact {
    margin: 23.25px 0;
    color: rgb(142, 142, 142);
}

#home {
    position: relative;
    overflow: hidden;
    padding: 16px;
    text-align: center;
    background-color: rgb(248, 249, 250);
}

#home > div {
    margin: 48px 0;
}

#product {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 16px 0;
}

#col-1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-align: center;
    margin-right: 16px;
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
    flex: 1 1 0%;
}

#col-1 > div:first-child {
    padding: 16px;
    margin: 16px 0;
}

#col-1 > div:nth-child(2) {
    background-color: rgb(248, 249, 250);
    margin: 0 29.6016px;
    width: 236.797px;
    height: 400px;
    border-radius: 21px 21px 0 0;
}

#col-2 {
    background-color: rgb(248, 249, 250);
    flex: 1 1 0%;
    color: rgb(0, 0, 0);
    overflow: hidden;
    text-align: center;
    margin-right: 16px;
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
}

#col-2 > div:first-child {
    padding: 16px;
    margin: 16px 0;
}

#col-2 > div:nth-child(2) {
    background-color: rgb(0, 0, 0);
    margin: 0 29.6016px;
    width: 236.797px;
    height: 400px;
    border-radius: 21px 21px 0 0;
}

p {
    font-size: 20px;
    font-weight: 300;
}

#home > div > a[href="#product"] {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
}

div > a[href="#product"]:hover {
    cursor: pointer;
}

header, main, footer {
    min-width: 100%;
}

header {
    min-height: 60px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 4px 0;
}

main {
    min-height: 360px;
    background-color: #E8ECED;
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.85);
    min-height: 180px;
    max-width: 100%;
    padding: 3rem 1rem;
}

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact-col1 {
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 70.5547px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#contact-col1 > div {
    margin: 10px 0;
}

#footer_link_logo {
    margin: 10px 0;
    color: rgb(108, 117, 125);
    text-decoration: none solid rgb(108, 117, 125);
}

#contact-col1 > p {
    color: rgb(108, 117, 125);
}

#footer_link_home, #footer_link_product, #footer_link_contact {
    margin-right: 16px;
    color: rgb(108, 117, 125);
    text-decoration: none solid rgb(108, 117, 125);
}

form > div {
    margin-bottom: 16px;
}

#contact-col2 {
    max-width: 100%;
    padding: 0 16px;
    margin: 0 70.5547px;
}

h5 {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px;
    color: rgb(248, 249, 250);
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(248, 249, 250);
}

#email {
    width: 227.906px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(33, 37, 41);
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
}

button {
    width: 227.906px;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
}

button:hover {
    cursor: pointer;
}